text {
    font-size: 50px;
    white-space: nowrap;
}
text#time {
    margin: 0;
    position: absolute;
    top: 30px;
    left: 5.5%;
    transform: translate(-50%);
}
text#place {
    margin: 0;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    font-size: 40px;
}
text#score {
    margin: 0;
    position: absolute;
    top: 30px;
    left: 86%;
    transform: translate(-50%);
}
text#question {
    position: absolute;
    left: 50%;
}

.box {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    height: 260px;
    width: max-content;
    white-space: nowrap;
    font-size: 30px;
}

input {
    margin-top: 38px;
    margin-left: 40px;
} label {
    margin-right: 40px;
}

#message {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
}

button {
    background-color: var(--button-color);
}