text.big {
    margin: 0;
    position: absolute;
    top: 15%;
    left: 2%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    position: relative;
    width: min-content;
    font-size: 400%;
    white-space: nowrap;
}
text.big#id {
    position: absolute;
    top: 5%;
    left: 22%;
}
text.big#pin {
    position: absolute;
    top: 5%;
    left: 68%;
}

separator {
    position: absolute;
    top: 13%;
    font-weight: bold;
    font-size: 2vw;
    color: blueviolet;
}

button {
    margin: 0;
    position: absolute;
    top: 12%;
    left: 45%;
    transform: translate(-50%, -50%);
    display: block;
    position: relative;
    background-color: var(--button-color);
    color: white;
    width: 200px;
    font-size: 220%;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    border-radius: 5px;
}

.players {
    position: absolute;
    top: 270px;
    left: 3%;
}
.players text {
    margin-left: 10px;
    font-size: 25px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    box-shadow: -5px 0 8px 0 dimgray;
}
.players tekst {
    font-size: 25px;
    color: white;
}
.players tekst.righta {
    margin-top: 15px;
    position: absolute;
    left: 400%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    background-color: transparent;
}

#share {
    position: relative;
    margin-top: 50px;
    left: 95%;
    transform: translate(-50%, -50%);
}
#share:hover {
    box-shadow: 5px 2px 10px 1px dimgray;
    cursor: pointer;
    border-radius: 30%;
    width: 4.2%;
    background-color: var(--button-color);
}