:root {
    --bg-raw: rgb(190, 176, 255);
    --button-color: rgb(148, 50, 251);
    --bg: linear-gradient(180deg, var(--bg-raw) 30%, rgba(124,0,255,1) 100%);
    --right: rgb(0, 200, 0);
    --wrong: rgb(200, 0, 0);

    background: var(--bg);
}

*, *::before, *::after {
    font-family: Arial;
}

#logo {
    margin-top: 10vw;
    height: 22vw;
    width: 22vw;
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
}

.bold { font-weight: bold; }
.italic { font-style: italic; }
.hide { visibility: hidden; }
.total-hide { display: none; }

.box {
    margin: auto;
    background-color: aquamarine;
    border-radius: 40px;
    box-shadow: 0 0 20px 2px;
}

text {
    margin: 0;
    position: absolute;
    top: 17%;
    left: 10%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    position: relative;
    width: min-content;
    font-size: 140%;
}

button:hover {
    cursor: pointer;
    box-shadow: -5px 2px 10px 1px dimgray;
}

#message {
    font-size: x-large;
    color: white;
    min-width: 200px;
    width: max-content;
    font-size: 220%;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    box-shadow: -5px 2px 8px 1px dimgray;
}
#message:hover { cursor: default; }
.right { background-color: var(--right); 
    visibility: visible !important; }
.wrong { background-color: var(--wrong); 
    visibility: visible !important;}

#view {
    margin: 0;
    width: 100%;
    height: 100%;
}