.box {
    margin-top: 22px;
    height: 280px;
    width: 400px;
}

input {
    margin: 0;
    position: absolute;
    top: 21%;
    left: 40%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    position: relative;
    width: min-content;
    font-size: 110%;
}

button {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    position: relative;
    background-color: var(--button-color);
    color: white;
    width: content;
    font-size: 100%;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
}