.box {
    margin-top: 22px;
    height: 210px;
    width: 400px;
}

input {
    margin: 0;
    top: 21%;
    left: 20%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    position: relative;
    width: 75px;
    font-size: 110%;
}

button {
    margin: 0;
    top: 20%;
    left: 120px;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    position: relative;
    background-color: var(--button-color);
    color: white;
    width: content;
    font-size: 120%;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
}

input#public-games {
    margin: 0;
    top: 20%;
    left: 130px;
    width: 180px;
}